{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
    <div {{ react_component('view/activities/list', {activities:activities, userSports:userSports}) }}>
        <div class="flex justify-center items-center h-screen">
            <span class="loading loading-spinner loading-xl text-primary"></span>
        </div>
    </div>
{% endblock %}
