{% extends 'base.html.twig' %}

{% block title %}Loading ...{% endblock %}

{% block body %}
    <div {{ react_component('view/Initialize', {endpoint:endpoint, redirectUrl:redirectUrl, loadingText:'Loading your activity'}) }}>
    </div>
{% endblock %}
