{% extends 'base.html.twig' %}

{% block title %}Heatmap{% endblock %}

{% block body %}
    <div {{ react_component('view/Heatmap', {activities:activities}) }}>
        <div class="flex justify-center items-center h-screen">
            <span class="loading loading-spinner loading-xl text-primary"></span>
        </div>
    </div>
{% endblock %}
